In [1]:
new_var_1='im from batti'

In [2]:
new_var_1[2:8:2]

' rm'

In [3]:
marks=59

In [4]:
if (marks>60):
    print('Pass')
else:
    print('Fail')

Fail

In [8]:
marks=59
age=23
if age<20:
    if marks>60:
        print('Pass')
    else:
        print('Fail')
else:
    print('You are above age')

You are above age

In [11]:
new_list=['a','b','c']

In [ ]:
for item_name in my_sequance:
    print(item_name)

In [15]:
for str_value in new_list:
    print(str_value)
    print('hi')

a
hi
b
hi
c
hi

In [21]:
num_list=[1,2,3,4,5]

In [22]:
for my_int in num_list:
    if my_int%2 ==0:
        print(f'even number:{my_int}')
    else:
         print(f'odd number:{my_int}')

odd number:1
even number:2
odd number:3
even number:4
odd number:5

In [31]:
total=0
for num in num_list:
    #total=total+num
    total += num
print(f'total={total}')

total=15

In [32]:
for str_val in 'Hi David':
    print(str_val)

H
i

D
a
v
i
d

In [35]:
for tuple_val in (2,3,6):
    print(tuple_val)

2
3
6

In [36]:
my_tuple_list = [(1,2),(3,4),(5,6)]

In [37]:
for (a,b) in my_tuple_list:
    print(a + b)

3
7
11

In [38]:
for (a,b) in my_tuple_list:
    print(a)

1
3
5

In [39]:
for (a,b) in my_tuple_list:
    print(b)

2
4
6

In [40]:
for (a,b) in my_tuple_list:
    print(b-a)

1
1
1

In [41]:
for (a,b) in my_tuple_list:
    print(a)
    print(b)

1
2
3
4
5
6

In [63]:
my_dict={'key_1':1,'key_2':2,'key_3':3}

In [64]:
for var_key in my_dict:
    print(my_dict[var_key])

1
2
3

In [65]:
for (key,val) in my_dict.items():
    print(key + ':'+ str(val))

key_1:1
key_2:2
key_3:3

In [67]:
my_dict.items()

dict_items([('key_1', 1), ('key_2', 2), ('key_3', 3)])

In [68]:
num_list=[1,2,3,4,5]

In [72]:
for num in num_list:
    if num==3:
        break
    print(num)

1
2

In [74]:

for num in num_list:
    if num==3:
        continue
    print(num)

1
2
4
5

In [85]:
for num in num_list:
    print(num)
else:
    print(num)
    print('loop finished')

1
2
3
4
5
5
loop finished

In [86]:
for num in num_list:
    print(num)

1
2
3
4
5

In [87]:
for num in num_list:
    print(num)
    if num == 3:
        break
else:
    print('else part')

1
2
3

In [88]:
for num in num_list:
    print(num)
    if num == 6:
        break
else:
    print('else part')

1
2
3
4
5
else part

In [91]:
adj=['red','blue','green']
fruits=['apple','banana','cherry']
for x in adj:
    for y in fruits:
        print (x+y)

redapple
redbanana
redcherry
blueapple
bluebanana
bluecherry
greenapple
greenbanana
greencherry

In [92]:
adj=['red','blue','green']
fruits=['apple','banana','cherry']
for x in adj:
    for y in fruits:
        if fruits[1] == y:
            break
        print (x+y)

redapple
blueapple
greenapple

In [93]:
for x in adj:
    print(x)
    for y in fruits:
        pass

red
blue
green

In [1]:
x=0
while x<5:
    x+=1
    if x==3:
        continue
    print(f'x is {x}')

x is 1
x is 2
x is 4
x is 5

In [1]:
for num in range(0,5,2):  #start,stop,step
    print(num)

0
2
4

In [3]:
print(type(range(0,5,2)))

<class 'range'>

In [4]:
print(list(range(0,5,2)))

[0, 2, 4]

In [5]:
print(list(enumerate('rajah')))

[(0, 'r'), (1, 'a'), (2, 'j'), (3, 'a'), (4, 'h')]

In [7]:
print(list(enumerate([1,2,5])))

[(0, 1), (1, 2), (2, 5)]

In [11]:
for (position,value) in enumerate([1,2,5]):
    print(str(position) + ':' + str(value))

0:1
1:2
2:5

In [12]:
print(list(enumerate('apple')))

[(0, 'a'), (1, 'p'), (2, 'p'), (3, 'l'), (4, 'e')]

In [22]:
list_1 = [1,2,3,4,5]
list_2 = ['a','b','c']
list_3 = [100,200,300]

In [23]:
print(type(zip(list_1,list_2,list_3)))

<class 'zip'>

In [24]:
print(list(zip(list_1,list_2,list_3)))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [25]:
for p1,p2,p3 in zip(list_1,list_2,list_3):
    print(p2)

a
b
c

In [26]:
2 in [1,2,4,6]

True

In [27]:
2 in [1,4,6]

False

In [28]:
'r' in 'rajah'

True

In [29]:
'p' in 'rajah'

False

In [30]:
2 not in [1,4,6]

True

In [33]:
if 2 not in [1,4,6]:              
    print('not in list')

not in list

In [34]:
'mykey' in {'mykey':5,'nextkey':6}

True

In [35]:
'mykey' in {'mykeys':5,'nextkey':6}

False

In [36]:
min([1,-6,3,5,2])

-6

In [37]:
max([1,-6,3,5,2])

5

In [ ]:
input('Please give any number:')

In [39]:
var_in=input('Please give any number:')

Please give any number:55

In [41]:
print(var_in)

55

In [ ]:
type(var_in)

In [1]:
var_1st = input('pls provide 1st num:')
var_2nd = input('pls provide 2nd num:')

pls provide 1st num:3
pls provide 2nd num:5

In [2]:
print(var_1st + var_2nd)

35

In [3]:
print(int(var_1st) + int(var_2nd))

8

In [11]:
from random import shuffle
my_list = [1,2,3,4,5,6]
print(shuffle(my_list))

None

In [12]:
print(my_list)

[6, 4, 5, 1, 2, 3]

In [1]:
from random import randint

randint(0,50)

9

In [2]:
mystring = 'rajah'

In [3]:
mylist = []

In [24]:
for char in mystring:
    mylist.append(char)

In [6]:
my_new_list = [letter for letter in mystring]

In [7]:
my_new_list

['r', 'a', 'j', 'a', 'h']

In [11]:
my_new_list = [letter+'2' for letter in mystring]

In [12]:
my_new_list

['r2', 'a2', 'j2', 'a2', 'h2']

In [26]:
my_new_list = [letter+'2' for letter in mystring if letter!= 'a']

In [27]:
my_new_list

['r2', 'j2', 'h2']

In [29]:
celcius = [0,10,20,31.4]
farenheit = [((9/5)*celci+32) for celci in celcius]

In [30]:
print(farenheit)

[32.0, 50.0, 68.0, 88.52]