Use for, .split(), and if to create a Statement that will print out words that start with 't':

In [11]:
st = 'Print only the words that start with skk ins this sentence'

In [3]:
st.split('d')

['Print only the wor', 's that start with s in this sentence']

In [6]:
st.split(' ')

['Print',
 'only',
 'the',
 'words',
 'that',
 'start',
 'with',
 's',
 'in',
 'this',
 'sentence']

In [13]:
st.split()

['Print',
 'only',
 'the',
 'words',
 'that',
 'start',
 'with',
 'skk',
 'ins',
 'this',
 'sentence']

In [12]:
for a in st.split(' '):
    if a[2] == 's':
        print(a)

ins

Use for, .split(),  create a Statement that will print out "my favourite fruit is 'xxxxx'"

In [15]:
fruit_str = 'apple,banana,orange and grapes'

my favourite fruit is 'apple'
my favourite fruit is 'banana'
my favourite fruit is 'grapes'

In [16]:
for a in fruit_str.split()
    if a[2] != orange
        print('my favourite fruit is: ')

SyntaxError: invalid syntax (1313985232.py, line 1)

In [31]:
for x in fruit_str:
    if x == 'Orange':
        continue
print(f'My favourit fruit is+ {x}')

a
p
p
l
e
,
b
a
n
a
n
a
,
o
r
a
n
g
e

a
n
d

g
r
a
p
e
s

In [18]:
fruit_str = 'apple,banana,orange and grapes'

In [21]:
for fruit in fruit_str.split(','):
    print (fruit)

apple
banana
orange and grapes

In [32]:
for fruit in fruit_str.split(','):
    if ' and ' in fruit:
        for fr in fruit.split(' and '):
            if fr!='banana':
                print(f'My favourit fruit is {fr}')
    else:
        if fruit!='banana':
                print(f'My favourit fruit is {fruit}')

My favourit fruit is apple
My favourit fruit is orange
My favourit fruit is grapes

Use range() to print all the even numbers from 10 to 20.

In [35]:
range(10,21,3)

range(10, 21, 3)

In [40]:
new_list = []
for list_item in range(10, 21, 2):
    new_list.append(list_item)

In [41]:
new_list

[10, 12, 14, 16, 18, 20]

In [42]:
range(10, 21, 3)

range(10, 21, 3)

In [43]:
list(range(10, 21, 3))

[10, 13, 16, 19]

LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

In [45]:
def lesser_in_2_num(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [46]:
lesser_in_2_num(2,5)

5

In [47]:
lesser_in_2_num(9,5)

9

In [48]:
def lesser_of_two_evens(num1,num2):
    if (num1 % 2 and num2 % 2) != 0:
        if num2 > num1:
            print(num2)
        if num1 > num2:
            print(num1)    
    elif (num1 % 2 and num2 % 2) == 0:
        if num1 < num2:
            print(num1)
        else:
            print(num2)    
    pass

In [49]:
lesser_of_two_evens(2,6)

2