In [1]:
square = lambda num:num**2

In [2]:
square(5)

25

In [3]:
mynums = [1,2,3,4,5]
list(map(square,mynums))

[1, 4, 9, 16, 25]

In [16]:
def myfunc_add(a,b,c,d):
    print(a)
    print(b)
    print(c)
    print(d)
    tuple_add = (a,b,c,d)
    add = sum(tuple_add)
    return add

In [17]:
myfunc_add(5,2,3,6)

5
2
3
6

16

*args: allows to take multiple arguments in a function as tuple

In [19]:
def myfunc(*args):
    print(args)
    add = sum(args)
    return add

In [20]:
myfunc(40,60,70,90,10)

(40, 60, 70, 90, 10)

270

**kwargs: allows to take multiple arguments in a function as dictionary

In [9]:
def myfunc_dic(**kwargs):
    print(kwargs)
    if 'fruit'in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruits here')

In [10]:
myfunc_dic(fruit='apple',veggie='carrot')

{'fruit': 'apple', 'veggie': 'carrot'}
My fruit of choice is apple

In [ ]:
mydetail(name='Kavi',age='29',town='Batti')

My name is {} , age is {} and i'm from {}

In [21]:
def myfunc_dic(**kwargs):
    if 'name' in kwargs:
        print('My name is {}'.format(kwargs['name']))
    elif 'age' in kwargs:
        print('My age is {}'.format(kwargs['age']))
    elif 'town' in kwargs:
        print('My town is {}'.format(kwargs['town']))
    else:
        print('I did not find')

In [22]:
myfunc_dic(name='Kavi',age='29',town='Batti')

My name is Kavi

In [29]:
def mydetail(**kwargs):
    print(kwargs)
    print ('My name is {} , age is {} and i\'m from {}'.format(kwargs['name'],kwargs['age'],kwargs['town']))

In [30]:
mydetail(name='Kavi',age='29',town='Batti')

{'name': 'Kavi', 'age': '29', 'town': 'Batti'}
My name is Kavi , age is 29 and i'm from Batti

Using kwargs and args:

In [34]:
def myfunc_(*args, **kwargs):
    print(kwargs)
    print(args)
    print('I would like {} {}'.format(args[0],kwargs['fruit']))

In [39]:
myfunc_(10,20,30,fruit='orange', animal='cat', food='thosai')

{'fruit': 'orange', 'animal': 'cat', 'food': 'thosai'}
(10, 20, 30)
I would like 10 orange

{rajah} got {marks} at {subject}. and he is {age} studing at {school}

In [42]:
def marks_detail(*args,**kwargs):
    print(kwargs)
    print(args)
    print('{} got {} at {}. and he is {} studying at {}'.format(kwargs['names'][0],args[0],kwargs['subject'],kwargs['age'],kwargs['school']))

In [43]:
marks_detail(85,35,92, names=['rajah', 'rani', 'kamal'], age=14, school='rarar', subject='Maths')

{'names': ['rajah', 'rani', 'kamal'], 'age': 14, 'school': 'rarar', 'subject': 'Maths'}
(85, 35, 92)
rajah got 85 at Maths. and he is 14 studying at rarar

Map function

In [44]:
def square(n):
    return n**2

In [45]:
square(5)

25

In [49]:
num_list = [1,3,4,6]
new_list = []
for num in num_list:
    new_list.append(square(num))

In [50]:
new_list

[1, 9, 16, 36]

In [54]:
list(map(square, num_list))

[1, 9, 16, 36]

In [55]:
def add(a,b):
    return a+b

In [63]:
def initial_cappital(name):
    return name.capitalize()

In [65]:
name_list = ['rajah', 'rani', 'kamal']

In [64]:
list(map(initial_cappital, name_list))

['Rajah', 'Rani', 'Kamal']

In [66]:
def all_capital(name):
    return name.upper()

In [68]:
list(map(all_capital, name_list))

['RAJAH', 'RANI', 'KAMAL']

filter function

In [69]:
def check_even(num):
    return num%2==0

In [70]:
my_nums = [1,3,5,8,6,9]

In [71]:
filter(check_even, my_nums)

In [72]:
list(filter(check_even, my_nums))

[8, 6]

In [73]:
def check_odd(num):
    check_bool = num%2==1
    return check_bool

In [74]:
list(filter(check_odd, my_nums))

[1, 3, 5, 9]

In [77]:
name_list = ['rajah', 'rani', 'kamal', 'bavi', 'ravi']

In [80]:
def name_check(name):
        check_bool= name[0]=='r'
        return check_bool

list(filter(name_check, name_list))

['rajah', 'rani', 'ravi']

In [83]:
def check_first_letter(letter):
    if  letter[0] == 'r':
        return True

In [84]:
list(filter(check_first_letter,name_list))

['rajah', 'rani', 'ravi']

In [85]:
name_list = ['rajah', 'rani', 'kamal', 'bavi', 'ravi']

In [86]:
name_emt = []
for name in name_list:
    if name[0]=='r':
        name_emt.append(name)

In [87]:
name_emt

['rajah', 'rani', 'ravi']